/*
   
   Table Of Content
   
   1. Global Style
   2. Section title, p, ul, li....
   3. Home Section and Navigation Menu 
   4. Introduction
   5. Listing
   6. Footer

  SRC
   7. Page listing
   8. Page kit-dev

 
*/

/* Global Style
---------------------------------------------------------------------- */
body {
    font-size: 16px ;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
    color: #333;
}
html,
body {
    height: 100%;
    background: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Poppins', sans-serif;
  color: #333;
}
a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

a:hover {
    color: #369bd1 !important;
    text-decoration: none !important;
}

a:focus {
    outline: none;
    text-decoration: none !important;
    color: white;
}

p {
    line-height: 32px;
    font-size: 16px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
@font-face {
        font-family: Caveat;
        src: url("../fonts/Caveat-Regular.ttf");
        
}

/* section title, p, ul, li....
---------------------------------------------------------------------- */
.container-fluid {
  padding-right: 45px !important;
  padding-left: 45px !important;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2 {
    margin-top: 0;
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 10px 0;
    width: auto;
    margin-bottom: 40px;
    border: 0;
    font-family: 'Caveat', sans-serif;
}
.section-title p {
    font-weight: 400;
    line-height: 25px;
    color: #333;
    font-size: 16px;
}

.kit-dev-section,
.donnees-section,
.lien-section{
  background: #E0E0E0;
}
.lien-section{
  background: #fff;
}
.choix-section,
.listing-section,
.exemple-section{
  background: #F4F4F4;
}

/* Home Section and Navigation Menu 
---------------------------------------------------------------------- */

.home-section {
    width: 100%;
    left: 0;
    top: 0;
    background: #7cc3ce;
    position: fixed;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.navigation-background {
  width: 100%;
  left: 0;
  top: 0;
  background: #666666;
  position: fixed;
  z-index: 9999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.home-section a{
    color: #333;
}

.navigation-background a{
  color: white;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.slogan {
    padding-top: 28px;
}
.slogan a {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Caveat', sans-serif;
}
.navigation-menu .slogan{
      display: block !important;
}
.navigation-menu .navbar-nav li a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
    float: right !important;
    list-style: none;
}

/* Banner
---------------------------------------------------------------------- */
.banner-section {
  padding: 150px 0 100px 0;
  background-color: #ffffff;
}

#banner-img{
  background-image: url(../images/illustration/fond.png);
  background-position-x: 50%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  box-sizing: border-box;
  min-height: 300px;
}
#banner-title h2{
  font-family: 'Caveat', sans-serif;
  font-size: 4em;
}

/* Choix
---------------------------------------------------------------------- */
.choix-navigation {
  height: auto;
  justify-content: center !important;
  display: flex;
}

.col-inner-choix {
  display: inline-block;
  vertical-align: top;
  border-radius: 2px 2px 40px 2px;
  min-height: 460px;
  background: #fff;
  position: relative;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  box-shadow: 8px 10px 15px 0px rgba(90, 91, 95, 0.3);
}

.col-inner-choix:hover,
.col-inner-choix:hover img{
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.col-inner-choix:hover{
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  border-radius: 2px 2px 2px 40px;
}
.col-inner-choix:hover img{
  width: 85%;
}
.col-inner-choix img,
.col-inner-choix{
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.col-inner-choix h3{
  font-size: 3em !important;
  font-family: 'Caveat', sans-serif;
}

/* savoir +
---------------------------------------------------------------------- */
.lien-navigation {
  height: auto;
  justify-content: center !important;
  display: flex;
}

.col-inner-lien {
  display: inline-block;
  vertical-align: top;
  border-radius: 2px 2px 2px 2px;
  min-height: 360px;
  background: #f4f4f4;
  position: relative;
  margin: 5px 0;
  width: 100%;
  box-shadow: 8px 10px 15px 0px rgba(90, 91, 95, 0.3);
}
.col-inner-lien img{
  height: 200px;
  width: 100% !important;
}
.col-inner-lien:hover{
  top:-12px;
}

/* Footer
---------------------------------------------------------------------- */
.footer-section {
    background: #666666;
    padding: 50px 0px;
    color: #f8f8f8;
}
.footer-section p {
    font-size: 14px;
}
.footer-section a {
    color: #ffffff;
}
.footer-section .justify-content-md-center {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* src 
---------------------------------------------------------------------------------------------------------------- */
/* Listing
---------------------------------------------------------------------- */
.controls {
    padding: 10px 0;
    text-align: center;
}
.control {
    position: relative;
    display: inline-block;
    background: #a6a6a6;
    cursor: pointer;
    color: white;
    margin: 5px 10px;
    transition: background 150ms;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}
.mixitup-control-active {
    background: #444;
}
.control:hover {
    background: #3f3f3f;
}
.type-media {
  display: inline-flex;
  background-image: linear-gradient(45deg, #a2dcec, 100%, #a2dcec);
  background-position: 0px 100%;
  background-position-x: 0px;
  background-position-y: 100%;
  background-repeat: repeat-x;
  background-size: 100% 2px;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.dynamique-media {
  padding-top: 10px;
}
.container {
    padding: 10px 0;
    text-align: center;
}
.container h3{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}
.container p{
  font-size: 13px;
  line-height: 20px;
}
.container img{
  width: 80%;
}
.container:after {
    display: inline-block;
    width: 100%;
}

.mix {
  height: auto;
}
.mix .col-inner {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #369bd1;
  border-top: .5rem solid currentColor;
  border-radius: 2px 2px 40px 2px;
  min-height: 320px;
  background: #fff;
  position: relative;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}
.col-inner:hover {
  border-radius: 2px 2px 2px 40px;
}
.col-inner:hover,
.col-inner-kit:hover{
  top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}
.mix .col-inner p {
  font-size: 1.2em;
}

.column-yes {
    color: rgba(54, 155, 209, 1);
}
.column-no {
    color: rgba(139, 212, 232, .8);
}
.column-no:before {
  position: absolute;
  background-color: rgba(139, 212, 232, .8);
  color: #444444;
  font-size: .95em;
  content: "Pas dans Colonne";
  margin-top: 10px;
  right: 16px;
  padding: 3px 10px 3px 5px;
  border-radius: 0 0 0 4px;
  z-index: 2;
}
/* Page listing
---------------------------------------------------------------------- */
.introduction-section-listing h2,
.donnees-section h2{
  color: #369bd1 ;
  display: inline-flex;
  background-image: linear-gradient(45deg, #666666, 100%, #666666);
  background-position: 0px 100%;
  background-position-x: 0px;
  background-position-y: 100%;
  background-repeat: repeat-x;
  background-size: 100% 3px;
  box-sizing: border-box;
}
.mix-donnees {
  height: auto;
}
.mix-donnees .col-inner-donnees{
  display: inline-block;
  vertical-align: top;
  border-radius: 10px 10px 10px 10px;
  min-height: 220px;
  background: #fff;
  position: relative;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}
.col-inner-donnees ul,
.col-inner-donnees p{
  text-align: left;
  padding-left: 15px;
}

/* Kit du développeur
---------------------------------------------------------------------- */
.mix .col-inner-kit {
  display: inline-block;
  vertical-align: top;
  border-radius: 200px;
  min-height: 200px;
  background: #fff;
  position: relative;
  margin: 5px 0;
  padding: 22px;
  width: 100%;
}
.col-inner-kit:hover {
  border-radius: 200px 200px 10px 200px;
}
.col-inner-kit p{
  padding: 15px 0 15px 0!important;
}
.col-inner-kit .fa{
  color: #a2dcec;
}
.col-inner-kit:hover .fa{
  color: #666666;
}
/* page kit-dev
---------------------------------------------------------------------- */
iframe{
  width: 100%;
}
.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #2d353c;
    left: 20%;
    margin-left: -2.5px
}

.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .matiere,
.timeline .timeline-time .type,
.timeline-header{
    display: block;
    font-weight: 600;
}

.timeline .timeline-time .matiere {
    line-height: 16px;
    font-size: 12px
}
.timeline .timeline-time .type,
.timeline-header{
    line-height: 24px;
    font-size: 20px;
    color: #242a30
}

.timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon p {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #f2f2f2;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #369bd1;;
    transition: border-color .2s linear
}

.timeline .timeline-body {
    margin-left: 23%;
    margin-right: 17%;
    background: #fff;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.timeline-header h3{
    padding-bottom: 10px;
    border-bottom: 0.5px solid #666666;
    line-height: 30px;
    color: #369bd1;
    margin-top: 0;
}
.timeline img,
.timeline iframe {
    max-width: 100%;
    display: block
}


/* Introduction
---------------------------------------------------------------------- */
.introduction-section-listing img{
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  height: auto;
  opacity: 0.15;
  width: 15%;
  margin: auto;
}
.introduction-section-listing p{
  background : rgba(255, 255, 255, 0.4);
  padding: 5px;
  width: auto;
  border-radius: 20px;
}
.introduction-section-listing .button-ancre p{
  background : none;
  padding: 0;
  margin: 0;
  font-weight: 550;
}



/* responsive
---------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 770px) {
     .choix-navigation,
     .lien-navigation {
          display: inline-block !important;
	  }
	
}