a {
    text-decoration: none;
    color: $text;

    &:hover {
        color: $link !important;
        text-decoration: none !important;
    }

    &:focus {
        outline: none;
        text-decoration: none !important;
        color: white;
    }
}

img {
    width: 100%;
}

p {
    line-height: 32px;
    font-size: 16px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

iframe{
    width: 100%;
}