.footer-section {
    background: $bgNav;
    padding: 50px 0px;
    color: $footerText;

    p {
        font-size: 14px;
    }

    a {
        color: white;
    }

    .justify-content-md-center {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}
