#kitdev-img {
    background-image: url(../../assets/images/illustration/kitdev.png);
    background-position-x: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    box-sizing: border-box;
    min-height: 360px;
}

#kitdevdetail-img {
    background-image: url(../../assets/images/illustration/kitdevdetail.png);
    background-position-x: 50%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    box-sizing: border-box;
    min-height: 300px;
}

.kit-dev {
  padding-bottom: 50px;
}

#exemple-cas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-inner-kit {
    padding: 10px !important;
    text-align: left;

    .card{
      background-color: $white;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: 5px;

        .card-header {
            padding: .75rem 1.25rem;
            background-color: rgba($black,.03);
            border-bottom: 1px solid rgba($black,.125);

            h3{
                font-size: 17px;
                margin: 5px 0px;
            }
        }
        .card-body{
            padding: 10px;
            min-height: 110px;

            p{
                padding-top: 5px !important;
            }
        }
        .card-footer {
            padding: 10px 15px;
            background-color: rgba(0,0,0,.03);
            border-top: 1px solid rgba(0,0,0,.125);

            .badge {
                padding: 3px;
                font-size: 75%;
                font-weight: normal;
                border-radius: 3px;
            }
            .motclef-conteneur {
                background-color: $main;
            }
        }
    }
}
