#listing-img {
    background-image: url(../../assets/images/illustration/listing.png);
    background-position-x: 50%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    box-sizing: border-box;
    min-height: 300px;
}
