.home-section {
    width: 100%;
    left: 0;
    top: 0;
    background: $main;
    position: fixed;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    a {
        color: $text;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 30px;

    h2 {
        margin-top: 0;
        font-size: 3em;
        margin: 0 auto;
        margin-bottom: 0px;
        padding: 10px 0;
        width: auto;
        margin-bottom: 40px;
        border: 0;
        font-family: 'Caveat', sans-serif;
    }

    p {
        font-weight: 400;
        line-height: 25px;
        color: $text;
        font-size: 16px;
    }
}
